.main-box {

    /*-fx-background-color: #ffc801;*/
    -fx-background-color: linear-gradient(rgba(255,200,1,1) 0%, rgba(255,222,102,1) 50%, rgba(255,233,153,1) 100%);
}

.small-label {

    -fx-font-family: Verdana;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.big-label {

    -fx-font-family: Verdana;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.page-label {

    -fx-font-family: Verdana;
    -fx-font-size: 16px;
}

.textarea {

    -fx-font-family: Verdana;
    -fx-background-color: white;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-font-size: 12px;
    -fx-text-box-border: #605c5c;
    -fx-border-color: #605c5c;

}

.textarea:focused {

    -fx-focus-color: #ffe999;
    -fx-faint-focus-color: transparent;
    -fx-text-box-border: #605c5c;
}

.textarea .scroll-pane {

    -fx-background-color: transparent;
}

.textarea .scroll-pane .viewport{

    -fx-background-color: transparent;
}

.textarea .scroll-pane .content{

    -fx-background-color: transparent;
}

.textfield {

    -fx-font-family: Verdana;
    -fx-font-size: 12px;
    -fx-text-box-border: #605c5c;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;

}

.textfield:focused {

    -fx-focus-color: #ffe999;
    -fx-faint-focus-color: transparent;
}

.date-picker {

    -fx-background-radius: 10px;
    -fx-background-color: white;
    -fx-border-color: #605c5c;
    -fx-border-radius: 10px;
    -fx-border-width: 1px;
}

.date-picker > .text-field {

    -fx-background-radius: 10 0 0 10;
    -fx-border-color: #605c5c;
    -fx-background-color: white;
    -fx-border-width: 0 0 0 0;
    -fx-border-radius: 10 0 0 10;
    -fx-text-fill: black;
    -fx-font-family: Verdana;
}

.date-picker > .arrow-button {

    -fx-background-radius: 0 10 10 0;
}

.date-picker:editable > .arrow-button > * {

    -fx-opacity: 0;
}

.date-picker > .arrow-button {

    -fx-background-color: white;
    -fx-background-image: url("img/event.png");
    -fx-background-size: 60% 60%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.button {

    -fx-appearance: none;
    -fx-background-color: #ffc801;
    -fx-border-color: rgba(27, 31, 35, .15);
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 6px;
    -fx-background-radius: 8px;
    -fx-box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    -fx-box-sizing: border-box;
    -fx-cursor: pointer;
    -fx-display: inline-block;
    -fx-font-family: Verdana;
    -fx-font-size: 14px;
    -fx-font-weight: 600;
    -fx-line-height: 20px;
    -fx-padding: 6px 16px;
    -fx-position: relative;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-user-select: none;
    -fx-webkit-user-select: none;
    -fx-touch-action: manipulation;
    -fx-vertical-align: middle;
    -fx-white-space: nowrap;
}

.button:hover {

    -fx-background-color: #ffe999;
}

.back-button {

    -fx-background-color: transparent;
    -fx-background-image: url("img/back35.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-border-color: transparent;
}

.event-list {

    /*-fx-background-color:  white;*/

    -fx-background-color:  white;
    -fx-background-radius: 10px;
    -fx-border-color: transparent;
    -fx-selection-bar: white;
    -fx-selection-bar-non-focused: white;
    -fx-selection-bar-text-fill: black;
}

.event-list .list-cell:selected{

    -fx-border-color: #605c5c;
    -fx-border-radius: 10px;
}

.event-list .list-cell:hover {

    -fx-border-color: #605c5c;
    -fx-border-radius: 10px;
    -fx-border-width: 1px;
}

.event-list .thumb {

    -fx-background-color: #605c5c;
    empty-cells: hidden;
}

.event-list .decrement-arrow {

    visibility: hidden;
}

.event-list .decrement-button {

    visibility: hidden;
}

.event-list .increment-arrow {

    visibility: hidden;
}

.event-list .increment-button {

    visibility: hidden;
}

.list-cell:even {

    -fx-font-family: Verdana;
    -fx-background-color: #ffe999;
}

.list-cell:odd {

    -fx-font-family: Verdana;
    -fx-background-color: #ffde66;
}

/*
    Please do not delete the commented code below!
*/
/*.list-cell:even {

    -fx-border-radius: 10px;
    -fx-border-width: 1px;
    -fx-border-color: #ffc801;

    -fx-background-color: #ffe999;
    -fx-text-fill: black;
}

.list-cell:odd {

    -fx-border-radius: 10px;
    -fx-border-width: 1px;
    -fx-border-color: #ffc801;

    -fx-background-color: #ffe999;
    -fx-text-fill: black;
}*/