.main-box {

    /*-fx-background-color: #ffc801;*/
    /*-fx-background-color: linear-gradient(#ffc801 0%, #ffde66 100%);*/
    -fx-background-color: linear-gradient(rgba(255,200,1,1) 0%, rgba(255,222,102,1) 50%, rgba(255,233,153,1)  100%);
}

.big-label {

    -fx-font-family: Verdana;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.back-button {

    -fx-background-color: transparent;
    -fx-background-image: url("img/back35.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-border-color: transparent;
}

.back-button:hover {

    -fx-background-color: #ffe999;
}

.participants-list {

    /*-fx-background-color:  white;*/

    -fx-background-color:  white;
    -fx-background-radius: 10px;
    -fx-border-color: transparent;
    -fx-selection-bar: white;
    -fx-selection-bar-non-focused: white;
    -fx-selection-bar-text-fill: black;
}

.participants-list .list-cell{

    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.participants-list .list-cell:selected{

    -fx-border-color: #605c5c;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.participants-list .thumb {

    -fx-background-color: #605c5c;
    empty-cells: hidden;
}

.participants-list .decrement-arrow {

    visibility: hidden;
}

.participants-list .decrement-button {

    visibility: hidden;
}

.participants-list .increment-arrow {

    visibility: hidden;
}

.participants-list .increment-button {

    visibility: hidden;
}