.main-box {

    /*-fx-background-color: #ffc801;*/
    /*-fx-background-color: linear-gradient(#ffc801 0%, #ffde66 100%);*/
    -fx-background-color: linear-gradient(rgba(255,200,1,1) 0%, rgba(255,222,102,1) 50%, rgba(255,233,153,1)  100%);
}

.big-label {

    -fx-font-family: Verdana;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.small-label {

    -fx-font-family: Verdana;
    -fx-font-size: 16px;
}

.back-button {

    -fx-background-color: transparent;
    -fx-background-image: url("img/back35.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-border-color: transparent;
}

.back-button:hover {

    -fx-background-color: #ffe999;
}

.buttons {

    -fx-appearance: none;
    -fx-background-color: #ffc801;
    -fx-border-color: rgba(27, 31, 35, .15);
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 6px;
    -fx-box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    -fx-box-sizing: border-box;
    -fx-cursor: pointer;
    -fx-display: inline-block;
    -fx-font-family: Verdana;
    /*-fx-font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";*/
    -fx-font-size: 14px;
    -fx-font-weight: 600;
    -fx-line-height: 20px;
    -fx-padding: 6px 16px;
    -fx-position: relative;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-user-select: none;
    -fx-webkit-user-select: none;
    -fx-touch-action: manipulation;
    -fx-vertical-align: middle;
    -fx-white-space: nowrap;
}

.buttons:hover {

    -fx-background-color: #ffe999;
}

.textfield {

    -fx-font-family: Verdana;
    -fx-font-size: 12px;
    -fx-text-box-border: #ffe999;
    -fx-prompt-text-fill: black;

}

.textfield:focused {

    -fx-focus-color: #ffe999;
    -fx-faint-focus-color: transparent;
}

.date-picker:editable > .arrow-button > * {

    -fx-opacity: 0;
}

.date-picker > .arrow-button {

    -fx-background-color: white;
    -fx-background-image: url("img/event.png");
    -fx-background-size: 60% 60%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}